<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../assets/img/GanpatiPule.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/jejuri.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/trimb.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <h1 class="text-center text-primary w-auto p-3"> Wel-Come </h1>
    <p class="text-justify w-auto p-3">
        Welcome to Reise the travel booking web app. We provide the facility of visiting temples in maharashtra at a very good and
        affordable prices. This web app provide the facilty to pre book your seats. This Web app Does not provide ani payment
        gateway so you have to pay at your nearest Temple360 office because of this the security of your money is manitained
        and minimum chances of online fraud.
        <br> Our busses are running in whole maharashtra so you can get your source destination which we get at your registration
        time it saves users time.
        <br> So come to our Web app and do bookings fast beacuse these prices are for limited time..... So hurry up..!!
        <br>
    </p>
    <button class="btn btn-primary col-lg-4 offset-lg-4" routerLink="/temples"> Book Now </button>
</div>