@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,300");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mtxl {
    margin-top: 60px;
}

.mtl {
    margin-top: 20px;
}

.mts {
    margin-top: 10px;
}

.mtxs {
    margin-top: 5px;
}