.card {
    padding: 0px;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid #77aaff;
    border-radius: 5px;
}

img {
    max-height: 600px;
    height: 600px;
    padding: 5px;
}

.margin-bottom {
    margin-bottom: 100px;
}