
    <app-header></app-header>
    
    <table class="table table-bordered" >
        <thead class="thead-dark">
          <tr>
            <th scope="col"> Temple Id</th>
            <th scope="col">Temple Name</th>
            <th scope="col">User</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of data">
            <th scope="row">{{data.templeId}}</th>
            <td>{{data.templeName}}</td>
            <td>{{data.userName}}</td>
            <td>{{data.price}}</td>
          </tr>
          
        </tbody>
      </table>
     