<div class="container-fluid text-center">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Temple Name</th>
                <th scope="col">Bus Name</th>
                <th scope="col">Bus Number</th>
                <th scope="col">Traveller Name</th>
                <th scope="col">Travel Date</th>
                <th scope="col">Passenger Count</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings">
                <th scope="row">{{booking?.templeName}}</th>
                <td>{{booking?.busName}}</td>
                <td>{{booking?.busNumber}}</td>
                <td>{{booking?.userName}}</td>
                <td>{{booking?.journeyDate | date}}</td>
                <td>{{booking?.passengerCount}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="deleteBooking(booking.id)" 
                        [disabled]="isPastDate(booking?.journeyDate)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>