<app-header></app-header>

    <div class="card col-md-3"  *ngFor="let item of temp">
        <img class="card-img-top" src="{{item.imgUrl}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.TempleName}}</h5>
          
            <p class="card-text">Base Sation : {{item.BaseStation }}</p>
            <p class="card-text">Best Visit Time : {{item.BestVisit}}</p>
            <p class="card-text">Tickete Price : {{item.Price | currency:'INR'}}</p>
         
          <a class="btn btn-primary">Book Now</a>
        </div>
      </div>
   