<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-primary" routerLink="/">Reise</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link text-primary" routerLink="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" routerLink="/temples">Temples</a>
            </li>
            <li *ngIf="user?.isAdmin" class="nav-item">
                <a class="nav-link text-primary" routerLink="/user-admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" routerLink="/contact">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">

            <button mat-raised-button color="primary" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>