
<div class="login">
  <h1>Login</h1>
  <form method="post">
    <input type="text" name="u" placeholder="Username" required="required" />
      <input type="password" name="p" placeholder="Password" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
      <button type="button" class="btn btn-primary btn-block btn-large" routerLink="/register">Register Me..</button>
  </form>


</div>


  <ul>
    <li *ngFor="let Login of Logins"><input type="text" name="logins_name" [(ngModel)]="Logins.name">
      <button (click)="updateLogin(Logins)">Save</button> 
      <button (click)="deleteLogin(Logins)">Delete</button>
    </li>
  </ul>
  <p>Create a new login: <input type="text" name="Logins_name" [(ngModel)]="Logins_name">
    <button (click)="createLogin(Logins_name)">Save</button>
  </p>
  
  